.detailsHeader {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 5px;
}

.detailContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detailCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detailImage {
    height: 150px;
}

.controlButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}


@media screen and (max-width: 300px) {
    .detailImage {
        height: auto;
    }
  }