.dropdownFilters {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}

.dropdownFilter {
    width: 45%;
}

.TextFilter {
    margin: 10px;
}

.secondFilter{
    
}

@media screen and (max-width: 1024px) {
    .TextFilter {
        margin: 5px;
    }
  }