.Pokedex {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ff3334;
  align-items: center;
}

.title {
  text-align: center;
}

.header {
  width: 100vw;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.greenBall {
  width: auto;
  height: 80px;
  margin-left: 50px;
  margin-top: 10px;
}

.pokeball {
  width: auto;
  height: 80px;
  margin-right: 50px;
  margin-top: 10px;
}

.headerImage {
  width: auto;

  height: auto;
}

.favoriteFilter {
  background-color: white;
  border-radius: 5px;
}

.content {
  background: #fff;
  border-radius: 1px;
  border: #110000;
  border-style: inset;
  height: 50vh;
  width: 90vw;
}

.filter {
  background: #fff;
  border-radius: 10px;
  border: #110000;
  border-style: inset;
  height: 20vh;
  width: 70vw;
  margin-bottom: 10px;
}


@media screen and (max-width: 1024px) {
  .filter {
    height: 25vh;
    width: 90vw;
  }
}

@media screen and (max-width: 780px) {
  .greenBall {
    margin-left: 10px;
    height: 50px;
    align-self: center;
  }


  .pokeball {
    height: 50px;
    margin-right: 10px;
    align-self: center;
  }
}