.App {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Pokedex {
  /* background-image: url("./assets/bg.jpg"); */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #ff3334;
  align-items: center;
  /* background-size: contain;
  background-repeat: repeat-y;
  background-position: center;
  display: grid;
  min-height: 100vh;
  place-items: center;
  gap: 0px 0px;
  grid-gap: 10px; */
}

.header{
  width: 100vw;  
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.greenBall{
  width: auto;
  height: 80px;
  margin-left: 50px;
  margin-top: 10px;
}

.pokeball{
  width: auto;
  height: 80px;
  margin-right: 50px;
  margin-top: 10px;
}

.headerImage{
  width: auto;
  
  height: auto;
}

.content {
  background: #fff;
  border-radius: 5px;
  border: #110000 ;
  border-style: inset;
  height: 50vh;
  width: 90vw;
}

